{% extends "base.html.twig" %}

{% block title %}Changer votre Mot de passe |{{parent()}}{% endblock %}

{% block body %}
    <h1 class="text-center mt-4">Modifier votre Mot de passe</h1>
    
   {% include "Frontend/Register/_form.html.twig" with {button_label: "Envoyer"} %}

{% endblock %}
